.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
}

.racer_table td.active {
  background-image: url("car.jpg");
  background-size: contain;
  width: 100px;
  height: 100px;
}

.space {
  margin: 100px;
}


label {
  margin-right: 50px;
}
